<h3>Events</h3>

  <div class="container-fluid" id="events">

    <div class="row">
      
      
    
        <div class="text-center" >
          <button href="/events/new" class="btn btn-success ">Save event</button>
          <span style="margin:0 10px;">or</span> 
          <a href="/events">Cancel</a>
        </div>
        
        
        
      
    </div>
  </div>
  <div id="myroutes" ng-controller="myRoutesCtrl" class="row">
    <div class="col-md-5">
      <p><span ng-bind="test"></span></p>
      <p> {{title}}  </p>
      <p> <span ng-bind="lat"></span>, <span ng-bind="long"></span></p>
    </div>
    <div class="col-md-7">
      <div id="map" style="width:645px; height:645px"></div>
    </div>
  </div>
