
<h3>New event</h3>
<div class="container" ng-controller="eventsCtrl">
    <div class="alert alert-danger text-center" role="alert" ng-show="apiError">
        <b>API Error : </b>
        <span>{{ apiStatus }}</span>
    </div>
    <div class="alert alert-success text-center" role="alert" ng-show="apiSuccess">
        <p>Event saved! </p>
    </div>
    <div class="row">
      
      <div class="col-md-4">
        <h4>Event location</h4>
        <form name="searchForm" novalidate ng-submit="search()" class="row form-horizontal" style="margin-bottom:15px;">
          <div class="col-xs-3">
            <label for="resName" class="col-xs-3 control-label">Venue</label>
          </div>
          <div class="col-xs-9">
            <div class="input-group">
                <input name="place" type="text" class="form-control" 
                ng-model="searchPlace" required autofocus />
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-disabled="searchForm.$invalid">Search</button>
                </span>
            </div>
          </div>
            
        </form>
          
        <form name="resForm" class="form-horizontal" novalidate 
        ng-submit="send()">
            <div class="form-group">
                <label for="resName" class="col-xs-3 control-label">Name</label>
                <div class="col-xs-9">
                    <input name="resName" type="text" class="form-control" 
                    ng-model="place.name" required />
                </div>
            </div>
            <div class="form-group">
                <label for="resLat" class="col-xs-3 control-label">Latitude</label>
                <div class="col-xs-9">
                    <input name="resLat" type="number" class="form-control" 
                    ng-model="place.lat" required />
                </div>
            </div>
            <div class="form-group">
                <label for="resLng" class="col-xs-3 control-label">Longitude</label>
                <div class="col-xs-9">
                    <input name="resLng" type="number" class="form-control" 
                    ng-model="place.lng" required />
                </div>
            </div>
            
            <h4>Event details</h4>
            <div class="form-group">
                <label for="resName" class="col-xs-3 control-label">Title</label>
                <div class="col-xs-9">
                    <input name="event_title" type="text" class="form-control" 
                    ng-model="event_title"  />
                </div>
            </div>
            <div class="form-group">
                <label for="resName" class="col-xs-3 control-label">Date</label>
                <div class="col-xs-9">
                    <input name="date" type="date" class="form-control" 
                    ng-model="place.date"  />
                </div>
            </div>
            <div class="form-group">
                <label for="resName" class="col-xs-3 control-label">Hour</label>
                <div class="col-xs-9">
                    <input name="time" type="time" class="form-control" 
                    ng-model="place.time"  />
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    <button class="btn btn-success" 
                    ng-disabled="resForm.$invalid">Save event</button>
                </div>
            </div>
        </form>
        
    
      </div>
      <div class="col-md-8">
        <div id="map"></div>
      </div>
    </div>
    
        
    
</div>
    
