<ion-view view-title="Event at: {{event.name}}">
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
    <div>
<!--       <h2>{{event.name}}</h2>
 -->      <!--<span class="date">{{name}}</span>-->
      <!--<span class="date">{{event.date}}</span>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio illum possimus quisquam repudiandae rerum!-->
        <!--Consequatur distinctio dolorum eos, iure molestiae omnis perferendis quos repellat, repellendus soluta unde veritatis vero voluptatem.</p>-->
        <div class="tabs">
          <a class="tab-item" ng-click="getRoute()">
            Get Route
          </a>
          <a class="tab-item" ng-click="navigate()">
            Get Directions
          </a>
        </div>
    </div>
  </ion-content>
</ion-view>
