<ion-view view-title="Events">
  <ion-nav-buttons side="right">
    <div class="buttons">
      <a ui-sref="app.newevent" class="button icon ion-plus-round"></a>
    </div>
  </ion-nav-buttons>

  <ion-content>
    <ion-spinner icon="spiral" ng-hide="loaded"></ion-spinner>
    <ul class="list">
      <li class="item" ng-repeat="event in events">
        <h2>{{event.name}}</h2>
        <div><small>{{event.place}}</small></div>
        <div>
          <a ui-sref="app.chat({eventId: event._id})">Chat</a>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
