<div id="myroutes" ng-controller="myRoutesCtrl" class="row">
  <div class="col-md-5">
    <p><span ng-bind="test"></span></p>
    <p> {{title}}  </p>
    <p> <span ng-bind="lat"></span>, <span ng-bind="long"></span></p>
  </div>
  <div class="col-md-7">
    <div id="map" style="width:645px; height:645px"></div>
  </div>
</div>
