<%- include('header') -%>
        <section class="content">
          <div id="notify" class="container" >
            <p class="alert alert-danger text-center" role="alert" ng-show="apiError">
                
            </p>
        
          </div>
          
          <div ui-view></div>
        </section>
<%- include('footer') -%>      
