<!doctype html>
<html class="no-js" lang="en" ng-app="carPoolingApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Carpooling - </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="assets/icons/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/material-kit.css" />
    <link rel="stylesheet" href="/assets/css/landing.css">
</head>

<body class="landing-page">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.rideas.one">Ride<span>as</span>one</a>
            </div>

            <div class="collapse navbar-collapse" id="navigation-example">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="btn">Home</a></li>
                    <li><a href="#" class="btn">Benefits </a> </li>
                    <li><a href="#" class="btn">Features</a>  </li>
                    <li><a href="#" class="btn">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        <div class="header header-filter">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Make Room for More.</h2>
                        <h1 class="title">Ride <span class="blue">as</span> one</h1>
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut mauris eu orci consectetur feugiat eget pretium erat. Fusce ligula erat, semper a pulvinar et, interdum a leo.</h4>
                        <br />
                        <a href="#" class="btn btn-danger btn-raised btn-lg">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main main-raised">
            <div class="container text-center">
                <h2>Benefits</h2>
                <div class="row">
                    <div class="col-md-4 sub">
                        <i class="ride-icon1"></i>
                        <h4 class="title">Streamline  transportation</h4>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut mauris eu orci consectetur feugiat eget pretium erat. Fusce ligula erat, semper a pulvinar et, interdum a leo.</p>
                    </div>
                    <div class="col-md-4 sub">
                        <i class="ride-icon2"></i>
                        <h4 class="title">Reduce overhead</h4>
                        <p class="description">We can help you to reduce the overhead costs and office space needs by redycing demand for parking spaces and improve your employee absenteeism.</p>
                    </div>
                    <div class="col-md-4 sub">
                          <i class="ride-icon3"></i>
                          <h4>Go green, save the earth</h4>
                          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut mauris eu orci consectetur feugiat eget pretium erat. Fusce ligula erat, semper a pulvinar et, interdum a leo.</p>
                    </div>
                </div>

                <h2>Features</h2>
                <h2>Contact us</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h4 class="text-center description">Divide details about your product or agency work into parts. Write a few lines about each one and contact us about any further collaboration. We will responde get back to you in a couple of hours.</h4>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Your Name</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Your Email</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Company</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">City or state</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4 text-center">
                                    <button class="btn btn-primary btn-raised">
                                        Send 
                                    </button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
          <div class="container">
            <nav class="pull-left">
              <ul>
                <li><a href="#" class="btn">Home</a>  </li>
                <li><a href="#" class="btn">Benefits </a></li>
                <li><a href="#" class="btn">Features</a></li>
                <li><a href="#" class="btn">Contact</a></li>
              </ul>
            </nav>
            <div class="copyright pull-right">
                Nearsoft Labs
            </div>
            </div>
        </footer>
    </div>
</body>

</html>
