<!doctype html>
<html class="no-js" lang="en" ng-app="carPoolingApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Carpooling - </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="assets/icons/favicon.ico">
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/assets/css/app.css">
        
        <!-- Vendor scripts -->
 
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBq4wvYrPm-S8TznZmBvUzHo9o61c9hV0o&libraries=places"></script>
        <script src="/components/angular/angular.js"></script>
        <script src="/components/jquery/dist/jquery.min.js"></script>
        <script src="/components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
        
        
        <!-- App scripts -->
          <script src="/app/app.js"></script>
          <script src="/app/services/gservice.js"></script>
          <script src="/app/services/mapservice.js"></script>
          <script src="/app/header/headerCtrl.js"></script>
          <script src="/app/events/eventsCtrl.js"></script>
    </head>
    <body>
      <div class="container-fluid" role="main">
    
        <header ng-controller="headerCtrl" class="row ">
          <div class="col-xs-2 logo">
            <img src="/assets/img/logo.svg" style="float:left; margin-right:10px" />
            <h1><a href="/">Carpooling</a></h1>
            <span><strong>nearsoft</strong> labs</span>
          </div>
          <div class="col-xs-8 menu">
            <ul>
              <li><a href="/myroutes" {{#if menu1}}class="sel"{{/if}}>My routes</a></li>
              <li><a href="/rides" {{#if menu2}}class="sel"{{/if}}>Get a ride</a></li>
              <li><a href="/events" {{#if menu3}}class="sel"{{/if}}>Events</a></li>
              <li><a href="/settings" {{#if menu4}}class="sel"{{/if}}>Settings</a></li>
            </ul>
          </div>
          <div class="col-xs-2 user">
            <p><span ng-bind="firstName + ' ' +lastName"></span></p>
            <p><a href="#">Logout</a></p>
          </div>
        </header>
        
        </div>
        
        <section class="container">
            {{{body}}}
        </section>
  
    
  </body>
</html>
