<!doctype html>
<html class="no-js" lang="en" ng-app="carPoolingApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Carpooling - </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="assets/icons/favicon.ico">
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/assets/css/app.css">

    </head>
    <body style="overflow:hidden">
      
      <section id="login">
        <div class="row loginform">
          <div class="col-sm-4 col-sm-offset-4 box bg" >
            <header class="text-center">
              <h1>Nearsoft Carpooling</h1>
            </header>
            <main >
              <p>To continue please sign in with your Google account:</p>
              <br>
              <a href="/auth/google" class="btn btn-primary" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Login with google</a> 
               <p>Having trouble? Please <a href="mailto:vcastrejon@nearosft.com">contact us</a>.</p>
            </main>
          </div>
        </div>
        
        <video autoplay loop poster="polina.jpg" id="bgvid">
            <source src="/assets/video/WEBM/Right-way.webm" type="video/webm">
            <source src="/assets/video/MP4/Right-way.MP4" type="video/mp4">
        </video>

      
      </section>


<% include footer %>
