<ion-view view-title="Passengers">
  <ion-content>
    <ul ng-if="route.passengers" class="list">
      <li class="item item-icon-left item-toggle"
        ng-repeat="(userId, user) in route.passengers">
         <i ng-if="user.onboard && route.departureTime" class="icon ion-checkmark-circled balanced"></i>
         <i ng-if="user.bypass" class="icon ion-minus-circled assertive"></i>
         <strong ng-class="{strike: user.bypass}">{{user.info.name}}</strong>
         <br>
         <small ng-class="{strike: user.bypass}">{{user.info.location.address}}</small>
         <br>
         <small ng-show="user.onboard && route.departureTime" class="balanced">
           Board at {{user.onboard}}
         </small>
         <toggle-control></toggle-control>
      </li>
    </ul>

    <div ng-if="route.passengers" id="map" data-tap-disabled="true"></div>

    <div>
      <strong class="center assertive" ng-if="!route.passengers">
        No folks in this route yet :(
      </strong>
    </div>
  </ion-content>

  <ion-footer-bar class="bar bar-dark" ng-show="route.departureTime">
    <label ng-show="route.departureTime" class="footer-label">
      <i class="ion-android-car"></i>
      Departed at {{route.departureTime}}
    </label>
    <label ng-show="route.arrivalTime" class="footer-label">
      <i class="ion-android-home"></i>
      Arrived at {{route.arrivalTime}}
    </label>
  </ion-footer-bar>
</ion-modal-view>
