<ion-view view-title="Routes">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="route in routes" ui-sref="van.passengers({route: route, role: 'passenger'})"
        class="item item-icon-left">
        <i ng-show="route.departureTime" class="icon ion-android-car balanced"></i>
        <i ng-show="!route.departureTime" class="icon ion-android-home assertive"></i>
        <strong>{{route.time}}</strong>
        <div ng-class="{right: true, balanced: passengerCount(route) > 0, assertive: passengerCount(route) == 0}">
          <i class="ion-ios-body"></i>
          <small>{{passengerCount(route)}}</small>
        </div>
        <br>
        <small ng-show="route.departureTime" class="balanced">
          Departed at {{route.departureTime}}
        </small>
        <small ng-show="route.arrivalTime" class="assertive">
          Arrived at {{route.arrivalTime}}
        </small>
        <!-- <ion-option-button class="button-balanced" ng-click="showAllUsers(route)">
          <i class="icon ion-person-stalker"></i>
        </ion-option-button> -->
      </ion-item>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
