<div class="container box bg" id="events" >
  <header class="row">
    <div class="col-md-5">
      <h1>Events</h1><a ui-sref="events">Go back</a>
    </div>
    <div class="col-md-2 alerts">
      <p ng-repeat="alert in view.alerts" >{{alert.msg}}</p>
    </div>

    <div class="col-md-5 text-right" ng-show="view.user.id == view.event.organizer_id" >
      <a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit  </a>
      <a ng-click="view.deleteEvent()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
    </div>
  </header>
  <main class="row show">
    <div class="row col-md-6">
      <div class="col-sm-6">
        <p><legend>Event name</legend>
          {{view.event.name}}
        </p>
        
        <p><legend>Date</legend>
          {{view.event.datetime | date:'shortDate'}} {{view.event.datetime | date:'shortTime'}}
        </p>
        
        <p><legend>Place</legend>
          {{view.event.place}}
        </p>
        <p><legend>Organizer</legend>
          {{view.event.organizer}}
        </p>
      </div>
      <div class="col-sm-6">
        <p><legend>category</legend>
          {{view.event.category}}
        </p>
        <p><legend>Attendees </legend>
          <span class="profiles">
            <span ng-repeat="user in view.event.attendees" >
                <img src="{{user.photo}}" title="{{user.user}}" class="profile-small" tooltip-placement="top" uib-tooltip="{{user.user}}"/>
            </span>
          </span>
        </p>
        <p><legend>Looking for a ride</legend>
          <span ng-show="view.event.lift.length"> {{view.event.lift.length}}</span> 
        </p>
        <p><legend>Avaiable seats for carpooling</legend>
       {{view.event.avail}} 
        </p>
      </div>
      <div class="col-sm-12">
      
          <legend>Location</legend>
          <div id="map"></div>
      </div>
    </div>
    <div class="col-md-6">
      
      <div class="tabs">
         <div class="tab" ng-repeat="car in view.event.carpooling">
             <input type="radio" id="tab-car{{$index+1}}" name="carpooling-tabs"  ng-checked="$index == 0">
             <label for="tab-car{{$index+1}}">Car #{{$index+1}}</label>
             <div class="content">
               <p>
                 <strong>Driver:</strong> {{car.driver}}
               </p>
               <p>
                 <strong>Passagers:</strong> 
                  <span ng-repeat="p in car.passanger" ng-class="{'sel': p.user_id == view.user.id }">{{p.name}}<span ng-if="!$last">, </span></span>
               </p>
               <p>
                 <strong>Seats:</strong> {{car.passanger.length}}/{{car.seats}}
               </p>
             </div> 
         </div>
          
        
      </div>

        <div class="signme" ng-hide="view.event.signed.length">
          <p>
            Do you want to attend to this event?
          </p>
            <a ng-click="view.signMe()"  class="btn btn-primary"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Sign me up!</a>
        </div>
        <div class="options" ng-show="view.event.signed.length">
          <div class="youare">
            You are now signed up for this event!
          </div>
          <div class="wrapper">
            <h3>
              Carpooling:
            </h3>
            <p ng-show="view.event.driving.length">
              You are driving and sharing {{view.event.driving[0].seats}} seats
              your passangers are :
              <ul>
                <li ng-repeat="p in view.event.driving[0].passanger">
                  {{p.name}}
                </li>
              </ul>
              <button type="button" class="btn btn-default btn-xs">Change </button>
            </p>
            
            <p ng-show="view.event.passanger.length">
              You are traveling in xxx car
            </p>
            
            
            <label class="first option">
              <input type="radio" name="option" ng-model="view.option" value="1">
              <img src="/assets/icons/car.png" alt="" />
              <p>I can offer a ride.</p>
              <p class="sub"> Available seats:</p>
              <select class="form-control"  ng-model="view.seats" >
                <option value="1">1 seat </option>
                <option value="2">2 seats</option>
                <option value="3">3 seats</option>
                <option value="4">4 seats</option>
                <option value="5">5 seats</option>
              </select>
            </label>
            <label class="second option">
              <input type="radio" name="option" ng-model="view.option" value="2">
              <img src="/assets/icons/lift.png" alt="" />
              <p>I need a lift.</p>
              
              <p class="sub"> Select a ride:</p>
              <select class="form-control" ng-model="view.driver" >
                <option value="" selected="None for now"</option >
                <option ng-repeat="car in view.event.carpooling" value="{{car.driver_id}}">{{car.driver}} ({{car.seats}} seats avail)</option >
              </select> 
            </label>
            <div class="buttons">
              <a ng-click="view.carPooling()" class="btn btn-primary"></span>Confirm</a>
            </div>
          </div>
        
          
        </div>
      
    
    </div>
    
         
  </main>
  

</div>
