  <div class="panel left" id="newevent" >
    <form  novalidate  class="form-horizontal form-ride"  ng-submit="saveData()" novalidate>
      <h3 class="text-center">New event</h3>
      <a class="close" ui-sref="events"><i class="fa fa-times" aria-hidden="true"></i></a>
      <div class="form-group">
        <label class="control-label">Event name</label>
        <input type="text" class="form-control" ng-model="event.name" placeholder="Add a name" autofocus required>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group left">
            <label class="control-label left">When?</label>
             <input type="text" class="form-control" id="event_date" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="event.datetime" is-open="displayDate"  datepicker-options="dateOptions" ng-click="displayDate=!displayDate"  /required>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group ">
            <label class="control-label">Start time</label>
            
            <input type="text" class="form-control timepicker" ng-model="event.starttime" required>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group right">
            <label class="control-label">End time</label>
            <input type="text" class="form-control timepicker" ng-model="event.endtime">
          </div>
        </div>
        
      </div>
      <div class="form-group">
        <label class="control-label">Location</label>
        <input type="text" id="autocomplete" class="form-control" ng-model="event.address" placeholder="Type an address or venue" required>
      </div>
      <div class="form-group">
        <label class="control-label">Description</label>
        <input type="text" class="form-control" ng-model="event.description" placeholder="Tell about your event" >
      </div>
        
     
    <footer class="text-center">
      <button class="btn  btn-ride" type="submit" ng-click="submitted=true" >Save event</button>
      <button  class="btn" ui-sref="events" type="button">Cancel</button>
    </footer>
    </form>  
  </div>
