<div class="panel left" id="newevent" >
  <form  novalidate  class=" form-horizontal form-ride"  ng-submit="submit()" >
    <h3  class="text-center">New event</h3>
    <div class="form-group ">
      <label class="control-label">Event name</label>
      <input type="text" class="form-control" ng-model="event.title" placeholder="Add a name" >
    </div>
    <div class="form-group  ">
      <label class="control-label">Location</label>
      <input type="text" class="form-control" ng-model="event.place" placeholder="Type an address or venue" >
    </div>
    <div class="form-group ">
      <label class="control-label">Description</label>
      <input type="text" class="form-control" ng-model="event.description" placeholder="Tell about your event" >
    </div>
      
   
  <footer class="text-center">
    <a ui-sref="events" class="cancel">Cancel</a>
    <button class="btn  btn-ride" type="submit" ng-click="submitted=true" >Save event</button>
  </footer>
  </form>  
</div>
