
<div class="container box" id="setlocation" >
  <div class="headers">
    <h2>Welcome <br /> {{view.user.name}}</h2>
    <h3>Please set your default location</h3>
    <h4>In most cases this is your house</h4>
  </div>
  
  <div class="map-container">
    <div id="map">
    </div>
    <div class="overlay">
      <form class="" action="index.html" method="post">
        <input type="text" name="name" value="" class="search"  autocomplete="off" autofocus="true" >
      </form>
    </div>
  </div>

</div>
