// out: app.css, compress: false
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,300,600);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(homer.css);
@colorbg:   #EEF2F4 ;
@colorblue: #00BDF0;
body {
  background-color: @colorbg;
}
header{
    font: 14px "Roboto", Helvetica, Arial, sans-serif;
    background-color: #292E3D;
    color: #fff;
    margin-bottom: 20px;
    padding: 0;
    
    ul{
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        a{
           transition:.5s;
          font-size: 18px;
          color:#fff;
          font-weight: 200;
          padding: 20px 15px 12px 15px;
          border-bottom: 4px solid #292E3D;
          display: block;
          margin: 0;
          text-decoration: none;
          &.sel{
            color:@colorblue;
          }
          &:hover{
            text-decoration: none;
            color:#fff;
            border-bottom: 4px solid @colorblue;
          }
          
        
           
        }
      }
    }
    .logo{
      //padding-bottom: 10px;
      background-color: #4E525F;
      padding: 7px 0 7px 30px;
      line-height: 13px;
      h1{
        margin: 0;
        font: 24px "Roboto", Helvetica, Arial, sans-serif;
        font-weight: 200;
        margin: 0;
        
        a{
          color:#fff;
          text-decoration: none;
        }
        
      }
      span{
        color:#fff;
        font-size: 14px ;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        strong{
          font-weight: 400;
        }
      }
    }
    .user{
      font-weight: 300;
      text-align: right;
      padding: 8px 30px 0 8px;
      p{
        margin: 3px;
      }
      
    }
    
}



#events{
  .list{
    padding:20px 50px;
  }
  .event{
    
    overflow: hidden;
    padding: 10px;
    margin:10px 0px;
    .date{
      float:left;
      width:50px;
      margin-top: 20px;
      .d{
        border-radius: 50%;
        background-color: #727172;
        color:#fff;
        text-align: center;
        height: 50px;
        width: 50px;
        padding: 10px;
        line-height: 50px;
        font-size: 22px;
      }
      .m{
        color:#D0021B;
        text-align: center;
        display: block;
      }
    }
    .row{
      border-radius: 1px;
      box-shadow:1px 1px 1px 0px rgba(50, 50, 50, 0.15);
      background-color: #fff;
      margin-left: 70px;
      margin-right: 5px;
      padding: 10px;
      font-weight: 300;
      p{
        margin: 0;
      }
      .title{
        font-size: 18px;
        font-weight: bold;
        line-height: 32px;
      }
      img{
        height: 40px;
      }
    }
  }
}



a {
  color: #00B7FF;
}
h1{
  font-size: 22px;
}
h3{
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
