<ion-view view-title="Passengers">
  <ion-content>
    <ul ng-if="route.passengers" class="list">
      <li class="item item-icon-left item-toggle item-avatar"
        ng-repeat="(passId, pass) in route.passengers">

         <img ng-src="{{ pass.info.image }}">
         <strong ng-class="{strike: pass.bypass}">{{pass.info.name}}</strong>
         <br>
         <small ng-class="{strike: pass.bypass}">{{pass.info.location.address}}</small>
         <br>
         <i ng-if="pass.onboard && route.departureTime" class="icon ion-checkmark-circled balanced"></i>
         <i ng-if="pass.bypass" class="icon ion-minus-circled assertive"></i>
         <small ng-show="pass.onboard && route.departureTime" class="balanced">
           Board at {{pass.onboard}}
         </small>
         <label ng-if="user.driver && !pass.bypass && route.departureTime" class="toggle toggle-balanced">
           <input type="checkbox" ng-checked="pass.onboard"
              ng-click="pickupUser(passId, pass.onboard)">
           <div class="track"><div class="handle"></div></div>
         </label>
      </li>
    </ul>

    <div ng-show="route.passengers" id="map" data-tap-disabled="true"></div>

    <div>
      <strong class="center assertive" ng-if="!route.passengers">
        No folks in this route yet :(
      </strong>
    </div>
  </ion-content>

  <ion-footer-bar class="bar bar-dark">
    <label ng-show="route.departureTime" class="footer-label">
      <i class="ion-android-car"></i>
      Departed at {{route.departureTime}}
    </label>
    <label ng-show="route.arrivalTime" class="footer-label">
      <i class="ion-android-home"></i>
      Arrived at {{route.arrivalTime}}
    </label>
  </ion-footer-bar>
</ion-modal-view>
