
  <i ng-show="route.departureTime" class="icon ion-android-car balanced"></i>
  <i ng-show="!route.departureTime" class="icon ion-android-home assertive"></i>
  <strong>{{route.time}}</strong>
  <div ng-class="{right: true, balanced: passengerCount(route) > 0, assertive: passengerCount(route) == 0}">
    <i class="ion-ios-body"></i>
    <small>{{passengerCount(route)}}</small>
  </div>
  <br>
  <small ng-show="route.departureTime" class="balanced">
    Departed at {{route.departureTime}}
  </small>
  <small ng-show="route.arrivalTime" class="assertive">
    Arrived at {{route.arrivalTime}}
  </small>
  <ion-option-button ng-show="!route.departureTime && !route.passengers[user.$id]" class="button-balanced" ng-click="toggleUserInRoute()">
    Join
  </ion-option-button>
  <ion-option-button ng-show="!route.departureTime && route.passengers[user.$id]" class="button-assertive" ng-click="toggleUserInRoute()">
    Leave
  </ion-option-button>
