<ion-view view-title="Routes">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="route in routes" ng-click="showUsers(route)">
        {{route.time}}
        <ion-option-button class="button-balanced" ng-click="showAllUsers(route)">
          <i class="icon ion-person-stalker"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <!-- <ion-footer-bar name="footerBar">
    <ion-nav-bar class="bar-dark">
      <ion-nav-buttons side="right">
        <add-button></add-button>
      </ion-nav-buttons>
    </ion-nav-bar>
  </ion-footer-bar> -->
</ion-view>
