
  <ion-modal-view>
    <ion-header-bar class="bar bar-dark">
      <h1 class="title"><i class="icon ion-person-add"></i>New User</h1>

        <button class="button right" ng-click="saveUser()">
          <i class="icon ion-checkmark-round"></i>
        </button>

      <button class="button button-clear button-stable close" ng-click="closeModal()">X</button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Matthew Dela Pola" ng-model="user.name">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Address</span>
          <input type="text" id="autocomplete" placeholder="Castillo de Liria 207" ng-model="user.location.address">
        </label>
      </div>

      <div id="map" data-tap-disabled="true"></div>

    </ion-content>
  </ion-modal-view>
