<ion-view view-title="Users">
  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="addUser()">
      <i class="icon ion-plus-round"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="user in users" ui-sref="van.userProfile({userId: user.$id})">
        {{user.name}}
        <ion-option-button class="button-assertive" ng-click="showDeleteUserModal(user.$id)">
          <i class="icon ion-minus-circled"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
